.decision-table {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: black;
  break-inside: avoid;
  font-weight: 300;
}
.decision-table .information-item-name {
  font-weight: 500;
  border: 2px solid #727272;
  background-color: #efefef;
  align-self: flex-start;
  position: relative;
  top: 2px;
  padding: 2px 4px;
}
@media print {
  .decision-table .information-item-name {
    top: 1px;
    border: 1px solid #727272;
  }
}
.decision-table .grid-container {
  display: flex;
  flex-direction: row;
}
.decision-table .grid-body {
  display: grid;
  grid-gap: 2px;
  background-color: #727272;
  color: #444;
  border: 2px solid #727272;
}
@media print {
  .decision-table .grid-body {
    border: 1px solid #727272;
    grid-gap: 1px;
  }
}
.decision-table .box, .decision-table .annotation-entry, .decision-table .annotation-allowed-values, .decision-table .annotation-label, .decision-table .output-entry, .decision-table .output-allowed-values, .decision-table .output-component, .decision-table .output-label, .decision-table .input-entry, .decision-table .input-allowed-values, .decision-table .input-expression, .decision-table .rule-number, .decision-table .hit-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: black;
  padding: 4px 4px;
  text-align: center;
}
.decision-table .vertical-double-line {
  width: 2px;
  background-color: #ffffff;
}
@media print {
  .decision-table .vertical-double-line {
    width: 1px;
  }
}
.decision-table .horizontal-double-line {
  height: 2px;
  background-color: #ffffff;
}
@media print {
  .decision-table .horizontal-double-line {
    height: 1px;
  }
}
.decision-table .hit-policy {
  align-items: unset;
  color: white;
  background-color: #ffb25b;
  font-weight: 500;
}
.decision-table .rule-number {
  color: white;
  background-color: #ff6300;
  font-weight: 500;
}
.decision-table .input-expression {
  font-weight: 500;
  background-color: #96c1e3;
}
.decision-table .input-allowed-values {
  font-weight: 400;
  color: #ffffff;
  background-color: #9a9a9a;
}
.decision-table .output-label {
  font-weight: 500;
  background-color: #e8b4d1;
}
.decision-table .output-component {
  font-weight: 500;
  background-color: #fadbeb;
}
.decision-table .output-allowed-values {
  font-weight: 400;
  color: #ffffff;
  background-color: #9a9a9a;
}
.decision-table .annotation-label {
  font-weight: 500;
  background-color: #c1d9c0;
}
