# windows-x86_64

name: Windows

on:
  push:
    branches:
      - main
      - releases/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
      - run: cargo +stable build --release --target=x86_64-pc-windows-msvc
      - uses: actions/upload-artifact@v4
        with:
          name: dsntk-0.0.5-windows-x86_64
          path: target/x86_64-pc-windows-msvc/release/dsntk.exe
